In [1]:
#1. Find the top 5 batsman who have hit the most number of 6's in the last 5 overs in the entire IPL history

In [2]:
import numpy as np
import pandas as pd

In [3]:
delivery=pd.read_csv('deliveries.csv')

In [4]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [5]:
mask2=delivery[delivery['over']>15]  ## death over

In [6]:
mask3=mask2[mask2['batsman_runs']==6]

In [7]:
mask3.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head()

batsman
MS Dhoni          114
KA Pollard         92
AB de Villiers     86
RG Sharma          81
Yuvraj Singh       66
Name: batsman_runs, dtype: int64

In [ ]:
## So Ms dhoni has hit maximum sixes in death over